// Hide region tooltips 
.jvm-tooltip {
    display: none;
}

// Remove cursor pointer for regions
.jvm-region {
    cursor: auto;
}

.jvm-container {
    position: relative;
}

// zoom buttons
.jvm-zoom-btn {
    background-color: grey;
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
    width: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.jvm-zoomout {
    top: 20px;
    margin-top: 10px;
}

// markers animation
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .jvm-marker {
    animation: fadeInOut 2.2s ease-in-out;
  }
  